parameters:
	ignoreErrors:
		-
			message: "#^Property CeusMedia\\\\REST\\\\Client\\:\\:\\$username has no typehint specified\\.$#"
			count: 1
			path: src/Client.php

		-
			message: "#^Property CeusMedia\\\\REST\\\\Client\\:\\:\\$password has no typehint specified\\.$#"
			count: 1
			path: src/Client.php

		-
			message: "#^Property CeusMedia\\\\REST\\\\Client\\:\\:\\$baseUri has no typehint specified\\.$#"
			count: 1
			path: src/Client.php

		-
			message: "#^Property CeusMedia\\\\REST\\\\Client\\:\\:\\$expectedFormat has no typehint specified\\.$#"
			count: 1
			path: src/Client.php

		-
			message: "#^Property CeusMedia\\\\REST\\\\Client\\:\\:\\$options has no typehint specified\\.$#"
			count: 1
			path: src/Client.php

		-
			message: "#^Property CeusMedia\\\\REST\\\\Client\\:\\:\\$requestHeaders has no typehint specified\\.$#"
			count: 1
			path: src/Client.php

		-
			message: "#^Property CeusMedia\\\\REST\\\\Client\\:\\:\\$responseHeader has no typehint specified\\.$#"
			count: 1
			path: src/Client.php

		-
			message: "#^Property CeusMedia\\\\REST\\\\Client\\:\\:\\$setCurlOptions has no typehint specified\\.$#"
			count: 1
			path: src/Client.php

		-
			message: "#^Property CeusMedia\\\\REST\\\\Client\\:\\:\\$logErrors has no typehint specified\\.$#"
			count: 1
			path: src/Client.php

		-
			message: "#^Property CeusMedia\\\\REST\\\\Client\\:\\:\\$logRequests has no typehint specified\\.$#"
			count: 1
			path: src/Client.php

		-
			message: "#^Property CeusMedia\\\\REST\\\\Client\\:\\:\\$handler has no typehint specified\\.$#"
			count: 1
			path: src/Client.php

		-
			message: "#^Method CeusMedia\\\\REST\\\\Client\\:\\:addRequestHeader\\(\\) has parameter \\$value with no typehint specified\\.$#"
			count: 1
			path: src/Client.php

		-
			message: "#^Method CeusMedia\\\\REST\\\\Client\\:\\:buildPostFields\\(\\) has parameter \\$data with no typehint specified\\.$#"
			count: 1
			path: src/Client.php

		-
			message: "#^Method CeusMedia\\\\REST\\\\Client\\:\\:callbackHeaderFunction\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: src/Client.php

		-
			message: "#^Method CeusMedia\\\\REST\\\\Client\\:\\:callbackHeaderFunction\\(\\) has parameter \\$handler with no typehint specified\\.$#"
			count: 1
			path: src/Client.php

		-
			message: "#^Method CeusMedia\\\\REST\\\\Client\\:\\:callbackHeaderFunction\\(\\) has parameter \\$header with no typehint specified\\.$#"
			count: 1
			path: src/Client.php

		-
			message: "#^Property CeusMedia\\\\REST\\\\Server\\:\\:\\$options has no typehint specified\\.$#"
			count: 1
			path: src/Server.php

		-
			message: "#^Property CeusMedia\\\\REST\\\\Server\\:\\:\\$defaultOptions has no typehint specified\\.$#"
			count: 1
			path: src/Server.php

		-
			message: "#^Property CeusMedia\\\\REST\\\\Server\\:\\:\\$formats has no typehint specified\\.$#"
			count: 1
			path: src/Server.php

		-
			message: "#^Property CeusMedia\\\\REST\\\\Server\\:\\:\\$context has no typehint specified\\.$#"
			count: 1
			path: src/Server.php

		-
			message: "#^Property CeusMedia\\\\REST\\\\Server\\:\\:\\$accessChecks has no typehint specified\\.$#"
			count: 1
			path: src/Server.php

		-
			message: "#^Call to an undefined method object\\:\\:getResponse\\(\\)\\.$#"
			count: 1
			path: src/Server.php

		-
			message: "#^Method CeusMedia\\\\REST\\\\Server\\:\\:getRouter\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: src/Server.php

		-
			message: "#^Method CeusMedia\\\\REST\\\\Server\\:\\:getRequest\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: src/Server.php

		-
			message: "#^Method CeusMedia\\\\REST\\\\Server\\:\\:getResponse\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: src/Server.php

		-
			message: "#^Method CeusMedia\\\\REST\\\\Server\\:\\:getContext\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: src/Server.php

		-
			message: "#^Method CeusMedia\\\\REST\\\\Server\\:\\:handleError\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: src/Server.php

		-
			message: "#^Method CeusMedia\\\\REST\\\\Server\\:\\:handleFatalError\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: src/Server.php

		-
			message: "#^Method CeusMedia\\\\REST\\\\Server\\:\\:handleRequest\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: src/Server.php

		-
			message: "#^Method CeusMedia\\\\REST\\\\Server\\:\\:setResource\\(\\) has parameter \\$object with no typehint specified\\.$#"
			count: 1
			path: src/Server.php

		-
			message: "#^Method CeusMedia\\\\REST\\\\Server\\:\\:checkAccess\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: src/Server.php

		-
			message: "#^Method CeusMedia\\\\REST\\\\Server\\:\\:checkAccess\\(\\) has parameter \\$route with no typehint specified\\.$#"
			count: 1
			path: src/Server.php

		-
			message: "#^Method CeusMedia\\\\REST\\\\Server\\:\\:log\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: src/Server.php

		-
			message: "#^Method CeusMedia\\\\REST\\\\Server\\:\\:log\\(\\) has parameter \\$status with no typehint specified\\.$#"
			count: 1
			path: src/Server.php

		-
			message: "#^Method CeusMedia\\\\REST\\\\Server\\:\\:negotiateResponseFormat\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: src/Server.php

		-
			message: "#^Method CeusMedia\\\\REST\\\\Server\\:\\:realizeResolvedRoute\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: src/Server.php

		-
			message: "#^Property CeusMedia\\\\REST\\\\Server\\\\AbstractAccessCheck\\:\\:\\$options has no typehint specified\\.$#"
			count: 1
			path: src/Server/AbstractAccessCheck.php

		-
			message: "#^Method CeusMedia\\\\REST\\\\Server\\\\AbstractAccessCheck\\:\\:perform\\(\\) has parameter \\$request with no typehint specified\\.$#"
			count: 1
			path: src/Server/AbstractAccessCheck.php

		-
			message: "#^Method CeusMedia\\\\REST\\\\Server\\\\AccessCheck\\\\Auth\\:\\:perform\\(\\) has parameter \\$request with no typehint specified\\.$#"
			count: 1
			path: src/Server/AccessCheck/Auth.php

		-
			message: "#^Method CeusMedia\\\\REST\\\\Server\\\\AccessCheck\\\\IP\\:\\:perform\\(\\) has parameter \\$request with no typehint specified\\.$#"
			count: 1
			path: src/Server/AccessCheck/IP.php

		-
			message: "#^Method CeusMedia\\\\REST\\\\Server\\\\AccessCheck\\\\User\\:\\:perform\\(\\) has parameter \\$request with no typehint specified\\.$#"
			count: 1
			path: src/Server/AccessCheck/User.php

		-
			message: "#^Property CeusMedia\\\\REST\\\\Server\\\\Context\\:\\:\\$request has no typehint specified\\.$#"
			count: 1
			path: src/Server/Context.php

		-
			message: "#^Property CeusMedia\\\\REST\\\\Server\\\\Context\\:\\:\\$response has no typehint specified\\.$#"
			count: 1
			path: src/Server/Context.php

		-
			message: "#^Property CeusMedia\\\\REST\\\\Server\\\\Context\\:\\:\\$router has no typehint specified\\.$#"
			count: 1
			path: src/Server/Context.php

		-
			message: "#^Property CeusMedia\\\\REST\\\\Server\\\\Context\\:\\:\\$buffer has no typehint specified\\.$#"
			count: 1
			path: src/Server/Context.php

		-
			message: "#^Property CeusMedia\\\\REST\\\\Server\\\\Controller\\:\\:\\$resources has no typehint specified\\.$#"
			count: 1
			path: src/Server/Controller.php

		-
			message: "#^Method CeusMedia\\\\REST\\\\Server\\\\Controller\\:\\:decoratePagination\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: src/Server/Controller.php

		-
			message: "#^Method CeusMedia\\\\REST\\\\Server\\\\Controller\\:\\:decoratePagination\\(\\) has parameter \\$limit with no typehint specified\\.$#"
			count: 1
			path: src/Server/Controller.php

		-
			message: "#^Method CeusMedia\\\\REST\\\\Server\\\\Controller\\:\\:decoratePagination\\(\\) has parameter \\$page with no typehint specified\\.$#"
			count: 1
			path: src/Server/Controller.php

		-
			message: "#^Method CeusMedia\\\\REST\\\\Server\\\\Controller\\:\\:decoratePagination\\(\\) has parameter \\$parameters with no typehint specified\\.$#"
			count: 1
			path: src/Server/Controller.php

		-
			message: "#^Method CeusMedia\\\\REST\\\\Server\\\\Controller\\:\\:decoratePagination\\(\\) has parameter \\$total with no typehint specified\\.$#"
			count: 1
			path: src/Server/Controller.php

		-
			message: "#^Method CeusMedia\\\\REST\\\\Server\\\\Format\\\\FormatInterface\\:\\:transform\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: src/Server/Format/FormatInterface.php

		-
			message: "#^Method CeusMedia\\\\REST\\\\Server\\\\Format\\\\FormatInterface\\:\\:transform\\(\\) has parameter \\$content with no typehint specified\\.$#"
			count: 1
			path: src/Server/Format/FormatInterface.php

		-
			message: "#^Method CeusMedia\\\\REST\\\\Server\\\\Format\\\\FormatInterface\\:\\:transform\\(\\) has parameter \\$response with no typehint specified\\.$#"
			count: 1
			path: src/Server/Format/FormatInterface.php

		-
			message: "#^Property CeusMedia\\\\REST\\\\Server\\\\Format\\\\HTML\\:\\:\\$contentType has no typehint specified\\.$#"
			count: 1
			path: src/Server/Format/HTML.php

		-
			message: "#^Property CeusMedia\\\\REST\\\\Server\\\\Format\\\\HTML\\:\\:\\$extension has no typehint specified\\.$#"
			count: 1
			path: src/Server/Format/HTML.php

		-
			message: "#^Property CeusMedia\\\\REST\\\\Server\\\\Format\\\\HTML\\:\\:\\$mimeTypes has no typehint specified\\.$#"
			count: 1
			path: src/Server/Format/HTML.php

		-
			message: "#^Method CeusMedia\\\\REST\\\\Server\\\\Format\\\\HTML\\:\\:transform\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: src/Server/Format/HTML.php

		-
			message: "#^Method CeusMedia\\\\REST\\\\Server\\\\Format\\\\HTML\\:\\:transform\\(\\) has parameter \\$content with no typehint specified\\.$#"
			count: 1
			path: src/Server/Format/HTML.php

		-
			message: "#^Method CeusMedia\\\\REST\\\\Server\\\\Format\\\\HTML\\:\\:transform\\(\\) has parameter \\$response with no typehint specified\\.$#"
			count: 1
			path: src/Server/Format/HTML.php

		-
			message: "#^Method CeusMedia\\\\REST\\\\Server\\\\Format\\\\HTML\\:\\:flattenArray\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: src/Server/Format/HTML.php

		-
			message: "#^Method CeusMedia\\\\REST\\\\Server\\\\Format\\\\HTML\\:\\:flattenArray\\(\\) has parameter \\$array with no typehint specified\\.$#"
			count: 1
			path: src/Server/Format/HTML.php

		-
			message: "#^Property CeusMedia\\\\REST\\\\Server\\\\Format\\\\JSON\\:\\:\\$contentType has no typehint specified\\.$#"
			count: 1
			path: src/Server/Format/JSON.php

		-
			message: "#^Property CeusMedia\\\\REST\\\\Server\\\\Format\\\\JSON\\:\\:\\$extension has no typehint specified\\.$#"
			count: 1
			path: src/Server/Format/JSON.php

		-
			message: "#^Property CeusMedia\\\\REST\\\\Server\\\\Format\\\\JSON\\:\\:\\$mimeTypes has no typehint specified\\.$#"
			count: 1
			path: src/Server/Format/JSON.php

		-
			message: "#^Method CeusMedia\\\\REST\\\\Server\\\\Format\\\\JSON\\:\\:transform\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: src/Server/Format/JSON.php

		-
			message: "#^Method CeusMedia\\\\REST\\\\Server\\\\Format\\\\JSON\\:\\:transform\\(\\) has parameter \\$content with no typehint specified\\.$#"
			count: 1
			path: src/Server/Format/JSON.php

		-
			message: "#^Method CeusMedia\\\\REST\\\\Server\\\\Format\\\\JSON\\:\\:transform\\(\\) has parameter \\$response with no typehint specified\\.$#"
			count: 1
			path: src/Server/Format/JSON.php

		-
			message: "#^Property CeusMedia\\\\REST\\\\Server\\\\Format\\\\PHP\\:\\:\\$contentType has no typehint specified\\.$#"
			count: 1
			path: src/Server/Format/PHP.php

		-
			message: "#^Property CeusMedia\\\\REST\\\\Server\\\\Format\\\\PHP\\:\\:\\$extension has no typehint specified\\.$#"
			count: 1
			path: src/Server/Format/PHP.php

		-
			message: "#^Property CeusMedia\\\\REST\\\\Server\\\\Format\\\\PHP\\:\\:\\$mimeTypes has no typehint specified\\.$#"
			count: 1
			path: src/Server/Format/PHP.php

		-
			message: "#^Method CeusMedia\\\\REST\\\\Server\\\\Format\\\\PHP\\:\\:transform\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: src/Server/Format/PHP.php

		-
			message: "#^Method CeusMedia\\\\REST\\\\Server\\\\Format\\\\PHP\\:\\:transform\\(\\) has parameter \\$content with no typehint specified\\.$#"
			count: 1
			path: src/Server/Format/PHP.php

		-
			message: "#^Method CeusMedia\\\\REST\\\\Server\\\\Format\\\\PHP\\:\\:transform\\(\\) has parameter \\$response with no typehint specified\\.$#"
			count: 1
			path: src/Server/Format/PHP.php

		-
			message: "#^Property CeusMedia\\\\REST\\\\Server\\\\Format\\\\XML\\:\\:\\$contentType has no typehint specified\\.$#"
			count: 1
			path: src/Server/Format/XML.php

		-
			message: "#^Property CeusMedia\\\\REST\\\\Server\\\\Format\\\\XML\\:\\:\\$extension has no typehint specified\\.$#"
			count: 1
			path: src/Server/Format/XML.php

		-
			message: "#^Property CeusMedia\\\\REST\\\\Server\\\\Format\\\\XML\\:\\:\\$mimeTypes has no typehint specified\\.$#"
			count: 1
			path: src/Server/Format/XML.php

		-
			message: "#^Method CeusMedia\\\\REST\\\\Server\\\\Format\\\\XML\\:\\:transform\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: src/Server/Format/XML.php

		-
			message: "#^Method CeusMedia\\\\REST\\\\Server\\\\Format\\\\XML\\:\\:transform\\(\\) has parameter \\$content with no typehint specified\\.$#"
			count: 1
			path: src/Server/Format/XML.php

		-
			message: "#^Method CeusMedia\\\\REST\\\\Server\\\\Format\\\\XML\\:\\:transform\\(\\) has parameter \\$response with no typehint specified\\.$#"
			count: 1
			path: src/Server/Format/XML.php

